extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales venenatis ante vel blandit. Etiam in orci nunc. Nullam egestas laoreet finibus. Fusce nec fringilla purus, eget mattis mauris. Suspendisse turpis augue, vehicula eget tempus at, interdum et nulla. Curabitur blandit libero vitae tellus eleifend ultrices. Praesent orci mauris, lacinia sed rutrum elementum, volutpat ut ante. Vivamus lacinia magna odio, eu accumsan tortor tempor nec.

                p Morbi volutpat condimentum nunc ut tincidunt. Aliquam eros arcu, posuere non pellentesque a, malesuada sit amet nisl. Integer ac dapibus nunc. Mauris tortor sem, interdum sed sem at, fermentum faucibus libero. Donec vitae ipsum metus. Donec rhoncus diam at metus finibus, vel faucibus elit dignissim.

                p Pellentesque rutrum feugiat lectus, at gravida mauris imperdiet ut. Sed euismod velit mauris, a pulvinar magna fermentum sed. Integer tempus est in ante varius, ac pellentesque felis porta.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Sed euismod velit mauris, a pulvinar magna fermentum sed. Integer tempus est in ante varius, ac pellentesque felis porta.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Sed euismod velit mauris, a pulvinar magna fermentum sed. Integer tempus est in ante varius, ac pellentesque felis porta.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Sed euismod velit mauris, a pulvinar magna fermentum sed. Integer tempus est in ante varius, ac pellentesque felis porta.